.pilares-header {
  background-color: #6E1F34;
  color: #FFFFFF;
  padding: 1.5rem 2rem;
  box-shadow: 0 2px 8px rgba(110, 31, 52, 0.3);
  display: flex;
  align-items: center;
  width: fit-content;    /* nuevo! solo el ancho del logo */
  min-width: 0;
  position: relative;
  z-index: 2;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pilares-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo_cdmx {
  width: 112px;
  height: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  /*filter: brightness(0) invert(1) drop-shadow(0 2px 4px rgba(0,0,0,0.2));*/
}

.logo {
  width: 397px;
  height: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  /*filter: brightness(0) invert(1) drop-shadow(0 2px 4px rgba(0,0,0,0.2));*/
}
