.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.input-wrapper-full {
  width: 100%;
}

.input-label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #6E1F34;
}

.pilares-input {
  font-size: 1rem;
  color: #6E1F34;
  background-color: #E1CAA8;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  width: 100%;
}

.pilares-input:focus {
  outline: none;
  border-color: #7D323F;
  background-color: #FFFFFF;
}

.input-error {
  border-color: #C44256;
}

.input-error-message {
  font-size: 0.75rem;
  color: #C44256;
}
